
<div ng-hide='show' class="col-md-4 col-md-offset-4" >
    <form>        
        <div class="form-group">
            <label for="tipodoc">Selecione Tipo de documento:</label>
            <select ng-model="tipodoc" class="form-control" id="tipodoc">
                <option>Cedula Ciudadania</option>
                <option>Tarjeta Identidad</option>
                <option>Registro Civil</option>
            </select>
        </div>
        <div class="form-group">
            <label for="numero">Numero</label>
            <input ng-model="numero" type="text" class="form-control" id="numero" placeholder="Numero">
        </div>
        <div class="form-group">
            <label for="prioridad">Selecione Prioridad:</label>
            <select ng-model="prioridad" class="form-control" id="prioridad">
                <option >Alta</option>
                <option>Normal</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success" ng-click="send(numero, prioridad,tipodoc)">Enviar</button>
    </form>
</div>

<div ng-show="show" class="col-md-6 col-md-offset-2" >
    <h1>Historia Clinica</h1>
</div> 
